.analysissection {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .analysissection h2 {
    margin-left: 20px;
    margin-top: 0;
  }

  .analysissection .subscribers {
    height: 220px;
  }

  .analysissection p {
    margin-left: 20px;
    font-weight: bold;
  }