 
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
  }
  
 
  .searchbar input {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  
  .content {
    display: flex;
    gap: 20px;
  }
  
  .maincontent {
    flex: 3;
  }
  
  .sidebar {
    flex: 1.8;
    display: flex;
    flex-direction: column;
    gap: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  }
  
  .sidebarwrapper {
    flex: 1.8;
  }

  .channeloverview {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  

  

  








  
  .publications {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
  }
  .publications_container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .Update_publications {
    padding: 15px 15px 12px 15px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: 0;
    color: #fff;
    background-color: #007bff45;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    align-self:self-end;
    transition: color 0.5s ease;
  }

  .Update_publications:hover {
    background-color: #007bff72;
  }

  .Update_publications img{
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
  }

  .Update_publications:hover img {
    transform: rotate(-0.5turn);
  }

  .publications h2 {
    margin-left: 30px;
    margin-bottom: 0;
    margin-top: 5px;
  }


  .more_publications {
    padding: 15px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #555;
    background-color: #007bff45;
    border: none;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }

  .more_publications:hover {
    background-color: #007bff72;
    transform: scale(1.1) ;
  }
  

  
  .post-text {
    flex: 1;
  }
  
  .analysissection {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .analysissection h2 {
    margin-left: 20px;
    margin-top: 0;
  }

  .analysissection .subscribers {
    height: 220px;
  }

  .analysissection p {
    margin-left: 20px;
    font-weight: bold;
  }

  .analysisgraph{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }


  
  .tag {
    color: #007bff;
    text-decoration: none;
  }
  
  .tag:hover {
    text-decoration: underline;
  }
  