.popularpost {
    display: flex;
    align-items: center;
    height: 100px;
    border: 1px solid #ddd;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #0022ff0a;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    font-size:x-small;
  }
  
  .popularpost:hover {
    transform: scale(1.05) ;
  }

  .popularpost img {
    width:auto;
    height: 75px;
    border-radius: 8px;
    margin-right: 10px;
  }